[submodule "geonode/oauthtoolkitprovider"]
	path = geonode/oauthtoolkitprovider
	url = https://github.com/phardy-egis/django-geonode-oauthtoolkitprovider.git
[submodule "geonode/gssync"]
	path = geonode/gssync
	url = https://github.com/phardy-egis/django-geonode-gssync.git
