[submodule "geonode/gssync"]
	path = geonode/gssync
	url = https://github.com/DDMI-EGIS/django-geonode-gssync.git
[submodule "geonode/oauthtoolkitprovider"]
	path = geonode/oauthtoolkitprovider
	url = https://github.com/DDMI-EGIS/django-geonode-oauthtoolkitprovider.git
