[submodule "django-geonode-gssync"]
	path = django-geonode-gssync
	url = https://github.com/DDMI-EGIS/django-geonode-gssync.git
[submodule "django-geonode-oauthtoolkitprovider"]
	path = django-geonode-oauthtoolkitprovider
	url = https://github.com/DDMI-EGIS/django-geonode-oauthtoolkitprovider.git
